/* Default styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  background: #171717;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  display: grid;
  place-items: center;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 0.6rem;
}

body::-webkit-scrollbar-track {
  background-color: #171717;
}

li {
  list-style-type: decimal;
  font-size: 1.6rem;
  text-align: start;
  margin: 0 2rem;
}

.hidden {
  display: none;
}

.logo {
  position: absolute;
  max-width: 12rem;
  top: 0;
  left: 0;
}

/* pomodoro clock */

#pomodoroClock {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 100, 0, 0.5);
  box-shadow: 0px 0px 7px 1px rgba(0, 100, 0, 0.5);
  border-radius: 0.6rem;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 100, 0, 0.5);
}

#pomodoroClockTitle {
  font-size: 1.8rem;
}

#pomodoroTimer {
  max-width: 25rem;
  margin: 2rem auto;
}

#pomodoroTimer svg {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 100, 0, 0.5);
  box-shadow: 0px 0px 7px 1px rgba(0, 100, 0, 0.5);
  border-radius: 50%;
}

#pomodoroClockActions #pomodoroStart,
#pomodoroClockActions #pomodoroStop {
  cursor: pointer;
  margin: 1rem 1rem 1rem 0;
  padding: 0.8rem;
  background: linear-gradient(to bottom, #949494 2%, #171717 100%);
  background-color: #171717;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  transition: all 320ms ease;
}

#pomodoroClockActions #pomodoroStart:hover,
#pomodoroClockActions #pomodoroStop:hover {
  transform: scaleX(1.1);
}

#pomodoroClockActions #pomodoroStart:focus-visible,
#pomodoroClockActions #pomodoroStop:focus-visible {
  box-shadow: 0 0 2pt 1pt #ff3232;
}

/* Input */
input {
  color: #171717;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  background-color: #fff;
  border: none;
  width: 100%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 320ms;
  border: none;
  outline: none;
}

input:focus-visible {
  box-shadow: 0 0 3pt 1pt #ff3232;
}

input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

/* Actions */
#pomodoroInput {
  display: inline-block;
  font-size: 1.2rem;
}

#pomodoroInput label {
  margin-right: 1rem;
}

#inputWorkDuration,
#inputBreakDuration {
  width: 5.5rem;
  text-align: center;
  margin: 0;
}

#pomodoroInfo {
  display: inline-block;
  text-align: center;
}
#pomodoroInfo h3 {
  font-size: 2rem;
  margin: 1rem auto;
}

#pomodoroSessions {
  text-align: center;
}

/* Media queries */

@media (min-width: 481px) and (max-width: 840px) {
  .logo {
    max-width: 7.5rem;
  }
}

@media (max-width: 480px) {
  #pomodoroClock {
    margin: 0 1rem;
  }

  .logo {
    max-width: 5.5rem;
    left: 0.5rem;
    top: 0.5rem;
  }
}
